# "org" ensures this Service is used with the correct Serverless Framework Access Key.
org: bobwallis
service: blueline-image

provider:
  name: aws
  deploymentMethod: direct
  region: eu-west-2
  runtime: nodejs24.x
  memorySize: 1024
  timeout: 10
  stackTags:
    project: "blueline"

functions:
  png:
    handler: src/index.handler
    reservedConcurrency: 3
    events:
      - http: 'GET /'

plugins:
  - serverless-apigw-binary
  - serverless-plugin-resource-tagging

custom:
  apigwBinary:
    types:
    - '*/*'
