# "org" ensures this Service is used with the correct Serverless Framework Access Key.
org: bobwallis
service: blueline-image

provider:
  name: aws
  region: eu-west-2
  runtime: nodejs24.x
  memorySize: 630
  timeout: 15
  stackTags:
    project: "blueline"
  tags:
    project: "blueline"
  httpApi:
    useProviderTags: true
    cors:
      allowedOrigins:
        - https://rsw.me.uk

functions:
  png:
    handler: src/index.handler
    reservedConcurrency: 3
    events:
      - httpApi: 'GET /'
